<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615999608982-vlj580ck7i9se225ol6qn75nmg7k4qt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615999608982-vlj580ck7i9se225ol6qn75nmg7k4qt6</string>
	<key>API_KEY</key>
	<string>AIzaSyBc0E27Zz8YnP0K6EP9PIht3fQ03jPqmxA</string>
	<key>GCM_SENDER_ID</key>
	<string>615999608982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codershigh.B-umiOS</string>
	<key>PROJECT_ID</key>
	<string>bium-sever</string>
	<key>STORAGE_BUCKET</key>
	<string>bium-sever.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615999608982:ios:d4c83c54a3d73f3567cab7</string>
</dict>
</plist>